{{!-- 
            <div class="modal fade showMeTheModal" id="noteModal{{this.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Take A Note</h5>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Note Title</label>
                                    <input type="email" data-id="{{this.id}}" class="form-control canWeBeDone"
                                        id="titleId-{{this.id}}">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Note Body</label>
                                    <textarea class="form-control canWeBeDone" data-id="{{this.id}}" id="bodyId-{{this.id}}"
                                        rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                            <button type="button" class="btn btn-secondary saveThisNote" id="{{this.id}}">Save
                                Note!</button>
                        </div>
                    </div>
                </div>
            </div> --}}